@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --secondary-blue: #00adb5;
}
body {
  font-family: 'Roboto Condensed', sans-serif !important;
}
/* NAVBAR */

.logo {
  width: 16.25rem;
}

/* Menu Links */

nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  color: var(--secondary-blue) !important;
}

/******** Header *******/

.header-wrapper {
  position: relative;
  background: url(bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1 {
  color: var(--secondary-blue);
  text-transform: uppercase;
}

/******** Typed text *******/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }

  .typed-text {
    font-size: 1.3rem;
  }
}

/******** Header Main Button *******/
.btn-main-offer {
  border-radius: 0.75rem;
  background-color: var(--secondary-blue);
  color: var(--primary-white);
  text-transform: uppercase;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  margin: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, 1);
}

.btn-main-offer:hover {
  color: var(--primary-white);
  text-decoration: none;
  cursor: pointer;
  transform: scale(0.97);
}

/******** About ME *******/
.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: ;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--secondary-blue);
}

.about-heading {
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}
